#main {
    color: #000000;
    text-align: center;
}

#title {
    background: #ffffff;
    margin: 0 10% 20px 10%;
    padding: 20px 0;
}

.logo {
    width: 150px;
}

#img-div {
    background: #ffffff;
    margin: 0 10% 20px 10%;
}

#image {
    margin: 0 auto;
    max-width: 40%;
    display: block;
    height: auto;
}

#tribute-info {
    background: #ffffff;
    margin: 0 10% 20px 10%;
    padding: 20px;
    text-align: left;
}

#tribute-link {
    align-items: center;
}