@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Montserrat:wght@100&family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Section - Navbar - Hero*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10% 20px 10%;
}

li, a, button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 100px;
    color: white;
}

.navbar li {
    display: inline-block;
}

.navbar li a:hover {
    color: red;
}

section {
    width: 100%;
    min-height: 900px;
    background-image: url("https://wallpaperaccess.com/full/328984.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    margin-top: 45  px;
    margin-right: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.text-box {
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(133, 125, 125, 0.555) , rgba(0, 0, 0, 0.162));
}

.logo {
    width: 100px;
}

/* Main Content*/

#main {
    width: 100%;
    min-height: 500px;
    background-image: url("https://www.theautochannel.com/news/2008/06/05/089088.1-lg.jpg");
    background-repeat: no-repeat;
}

.main-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-text {
    text-align: center;
    margin: 100px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

span {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color: red;
}

/* Articles */

.container-1, .container-2 {
    padding: 50px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.box-1, .box-4{
    flex: 1;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    padding: 60px;
}

.box-2, .box-3{
    flex: 1;
    text-align: center;
}

#image {
    width: 500px;
    border-radius: 10px;
}

#box-2-img {
    width: 500px;
}

button {
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}